.d-flex {
 display: flex;
 align-items: center;
}

.navBar-container{
 justify-content: space-between;
 border: 1px solid red;
 padding: 2rem;
}

.logo-container img {
 width: 30px;
 height: 30px;
 margin-right: 1rem;
}

nav a {
 font-size: 20px;
 margin-right: 12px;
}
